#gameBoard {
  background-color: black;
  margin: auto;
}

#title {
}

#hud {
  background-color: #CCCCCC;
  width: 1600px;
  height: 200px;
}

.playersHuds {
  text-align: center;
  float: left;
  background-color: #ff66ff;
  height: 100%;
  width: 15%;
}

#mainHud {
  text-align: center;
  float: left;
  background-color: #66ff66;
  height: 100%;
  width: 40%;
}

#status {
  margin: auto;
  margin-top: 10%;

  border: 1px solid black;
  background: white;
  width: 75%;
  height: 25%;
}

#HorizontalLine {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

#Leaderboard {

}

#Score {
  
}
